[submodule "vim/.vim/bundle/Vundle.Vim"]
	path = vim/.vim/bundle/Vundle.Vim
	url = http://github.com/VundleVim/Vundle.Vim
[submodule "vim/.vim/bundle/vundle.vim"]
	path = vim/.vim/bundle/vundle.vim
	url = http://github.com/VundleVim/Vundle.Vim
